:root {
	--brand-1: oklch(0.050 0.020 19.9);
	--brand-2: oklch(0.140 0.056 19.9);
	--brand-3: oklch(0.230 0.092 19.9);
	--brand-4: oklch(0.320 0.129 19.9);
	--brand-5: oklch(0.410 0.165 19.9);
	--brand-6: oklch(0.501 0.201 19.9);
	--brand-7: oklch(0.591 0.237 19.9);
	--brand-8: oklch(0.681 0.208 19.9);
	--brand-9: oklch(0.771 0.135 19.9);

	--foreground-subtle: oklch(0.710 0.008 121.0);
	--foreground: oklch(0.898 0.008 121.6);
	--foreground-surface: oklch(0.950 0.006 121.6);
	--background: oklch(0.205 0.002 145.5);
	--background-surface: oklch(0.225 0.002 145.0);

	--body-font: "Fanwood Text", serif;
	--heading-font: "Fanwood Text", sans-serif;

	font-size: 16px;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: "Fanwood Text";
	src: url("/fonts/fanwood-text.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Fanwood Text";
	src: url("/fonts/fanwood-text-italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "League Gothic";
	src: url("/fonts/league-gothic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "League Gothic";
	src: url("/fonts/league-gothic-italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

body {
	font-family: var(--body-font);
	letter-spacing: -0.02rem;
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--background);
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--foreground);
	font-size: 1.3rem;
	line-height: 1.8rem;
}

main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: var(--foreground-surface);
	font-family: var(--heading-font);
	letter-spacing: 0.05rem;
	line-height: 1.2;
	font-weight: 400;
}

h1 {
	font-size: 3.0em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

h6 {
	font-size: 0.9em;
	color: var(--foreground-subtle);
}

strong, b {
	font-weight: 700;
}

a {
	color: var(--accent);
}

a:hover {
	color: var(--accent);
}

p {
	margin-bottom: 1em;
}

.prose p {
	margin-bottom: 2em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
}

pre {
	padding: 1.5em;
}

pre > code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}
