:root {
	--brand-1: oklch(0.050 0.020 19.9);
	--brand-2: oklch(0.140 0.056 19.9);
	--brand-3: oklch(0.230 0.092 19.9);
	--brand-4: oklch(0.320 0.129 19.9);
	--brand-5: oklch(0.410 0.165 19.9);
	--brand-6: oklch(0.501 0.201 19.9);
	--brand-7: oklch(0.591 0.237 19.9);
	--brand-8: oklch(0.681 0.208 19.9);
	--brand-9: oklch(0.771 0.135 19.9);

	--foreground-subtle: oklch(0.710 0.008 121.0);
	--foreground: oklch(0.898 0.008 121.6);
	--foreground-surface: oklch(0.950 0.006 121.6);
	--background: oklch(0.160 0.009 255.0);
	--background-surface: oklch(0.230 0.014 255.0);

	--body-font: "EB Garamond", serif;
	--heading-font: "EB Garamond", serif;
	--sans-font: "League Spartan", sans-serif;
	--mono-font: "League Mono", monospace;

	font-size: 16px;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	scrollbar-gutter: stable both-edges;
}

@font-face {
	font-family: "EB Garamond";
	src: url("/fonts/eb-garamond.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "EB Garamond";
	src: url("/fonts/eb-garamond-italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "League Spartan";
	src: url("/fonts/league-spartan-vf.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "League Mono";
	src: url("/fonts/league-mono-vf.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: var(--body-font);
	letter-spacing: -0.02rem;
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--background);
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--foreground);
	font-size: 1.3rem;
	line-height: 1.8rem;
	font-variant-numeric: lining-nums;
	font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
}

main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: var(--foreground-surface);
	font-family: var(--heading-font);
	letter-spacing: 0.05rem;
	line-height: 1.2;
	font-weight: 400;
	font-variant-numeric: lining-nums;
  font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
}

h1 {
	font-size: 3.0em;
	letter-spacing: -0.1rem;
}

h2 {
	font-size: 2.441em;
	letter-spacing: -0.07rem;
}

h3 {
	font-size: 1.953em;
	letter-spacing: -0.05rem;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

h6 {
	font-size: 0.6em;
	letter-spacing: 0.2em;
	color: var(--foreground-subtle);
	font-family: var(--sans-font);
	text-transform: uppercase;
	font-weight: 600;
}

strong, b {
	font-weight: 700;
}

a {
	color: var(--accent);
}

a:hover {
	color: var(--accent);
}

p {
	margin-bottom: 1em;
}

.prose p {
	margin-bottom: 2em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

code, .astro-code {
	font-family: var(--mono-font);
	font-size: 1rem;
	letter-spacing: -0.07rem;
}

pre {
	padding: 1rem;
	line-height: 1.3;
}

pre > code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--brand-7);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
	line-height: 1.3;
}

hr {
	border: none;
}

abbr {
	font-variant: all-small-caps;
}

kbd {
  --kbd-color-background: var(--background-surface);
  --kbd-color-border:     var(--foreground-subtle);
  --kbd-color-text:       var(--foreground);

  background-color: var(--kbd-color-background);
  color: var(--kbd-color-text);
  border-radius: 0.25rem;
  border: 1px solid var(--kbd-color-border);
  box-shadow: 0 2px 0 1px var(--kbd-color-border);
  cursor: default;
  font-family: var(--sans-font);
  font-size: 0.75em;
  line-height: 1;
  min-width: 0.75rem;
  display: inline-block;
  text-align: center;
  padding: 5px 5px 2px 5px;
  position: relative;
  &:hover {
    box-shadow: 0 1px 0 0.5px var(--kbd-color-border);
    top: 1px;
  }
}

mark {
	background-color: var(--brand-4);
	color: var(--foreground);
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  padding: 2px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--foreground-subtle); 
  border: 1px solid var(--background-surface);
  border-radius: 10px;
}

@media (max-width: 550px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	display: none;
}
