html {
  scroll-padding-top: 5rem;
}
.marginnote-def {
  float: right;
  clear: right;
  margin-right: calc(-320px - 1rem);
  width: 320px;
  margin-top: 0.3rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
  padding-bottom: 0.5em;
  font-size: 1rem;
  margin-bottom: 2em;
}

.marginnote-def::before {
  content: "";
  position: absolute;
  top: calc(29px);
  left: 0;
  width: 100%;
  height: 0;
}

.marginnote-number {
  display: inline-block;
  background: var(--foreground);
  color: var(--background);
  width: 1rem;
  height: 1rem;
  text-align: center;
  border-radius: 5px;
  margin-right: 0.5rem;
}

.marginnote-backref {
  margin-left: 0.5em;
  text-decoration: none;
}

.hidden {
    display: none;
}

@media (max-width: 1279px) {
  .marginnote-def {
    display: none;
    scroll-margin-top: 3rem;
  }

  .marginnote-def:target {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    position: relative;
  }
}
