article {
	max-width: 1000px;
	margin: auto;
	padding: 4rem 2rem 4rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

figcaption {
	opacity: 0.8;
}

h6 {
	line-height: 1.5rem;
}

#exhibition-catalogue {
	grid-column: 1 / 3;
}

#main-heading {
	padding-bottom: 4rem;
	line-height: 1;
	letter-spacing: -0.07em;
}

.intro {
	grid-column: 2;
	max-width: 600px;
}

.projects-table {
	padding-left: 1rem;
	padding-right: 1rem;
	overflow: auto;
		border-collapse: collapse;

	thead {
		background-color: var(--background-surface);
		font-size: 0.9rem;
	}

	th {
		font-weight: 400;
		font-variant: all-small-caps;
		line-height: 1.5;
	}

	td, th {
		border: 1px solid var(--background-surface);
		min-width: 4rem;
		padding: 0.5rem;
	}
}
