---
import Socials from "./Socials.astro";

const today = new Date();
const currentLocale = Astro.currentLocale || 'en';
---

<footer>
	<h6>zanlib.dev &copy; {today.getFullYear()} &bull; Est. 2017</h6>
	<Socials lang={currentLocale} />
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
