---
import { getRelativeLocaleUrl } from 'astro:i18n';
import DotSimple from './DotSimple.astro';

interface Props {
	locale: string;
	active: string;
	link: string;
	name: string;
	disabled: boolean;
}

const { locale, active, link, name, disabled } = Astro.props;
const href = getRelativeLocaleUrl(locale, `/${link}`);
---
<a
	href={disabled ? null : href}
	class:list={[disabled ? 'disabled' : null]}
>
	{name}
	<DotSimple hidden={active !== link} />

</a>

<style>
a {
	display: block;
	flex: 1;
	padding: 0.25rem 2rem 0.15rem 2rem;
	border: 1px solid var(--background-surface);
	text-decoration: none;
	transition: all 100ms;
	text-align: center;

	&:hover {
		background-color: var(--brand-2);
		border-color: var(--brand-4);
	}

	&.disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}
</style>
