---
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h4>
			<a href="/">
				<span class="dot" />
				{SITE_TITLE}
			</a>

		</h4>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 2rem;
		background: var(--background);
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		border-bottom: 1px solid var(--background-surface);
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 720px;
		margin: auto;

	}

	h4 a {
		text-decoration: none;
		color: var(--brand-7);
		font-family: var(--body-font);
		letter-spacing: 0;
	}

	.dot {
		display: inline-block;
		width: 1ex;
		height: 1ex;
		border-radius: 100%;
		background: var(--brand-7);
		margin-right: 0.5rem;
		margin-left: calc(-1ex - 0.5rem);
	}
</style>
